li{
   list-style-type: none;
    margin-bottom: 0;
      border-radius: 0;
      display: inline-block;
}

  h2{
    font-family: 'Shojumaru', cursive;
    text-align: center;
    color: white;
    font-size: 2em;
    color: white;

       }
.btn-trans {
      background: none;
      box-shadow:none;
}  

.btn-trans-default {
     border: 2px solid #999999;
     color:#999999;
}
.btn-trans-primary {
     border: 2px solid #0044CC;
     color:#0044CC;
}
.btn-trans-success {
     border: 2px solid #51A351;
     color:#51A351;
}  

.btn-trans-info {
     border: 2px solid #0088CC;
     color:#0088CC;
} 
.btn-trans-warning {
     border: 2px solid #F89406;
     color:#F89406;
} 
.btn-trans-danger {
     border: 2px solid #BD362F;
     color:#BD362F;
} 

.navbar {
      background: rgba(0,0,0,0.5);
      margin-bottom: 0;
      border-radius: 0;
    }
     h1{
    font-family: 'Shojumaru', cursive;
    text-align: center;
    color: white;
    font-size: 210px;
    color: rgba(0,0,0,0.7);

       }
    .row.content {height: 450px}
      
    footer {
      padding: 15px;
    }

    body {
      background-image: url("http://wallpaper-gallery.net/images/black-cool-wallpaper/black-cool-wallpaper-11.jpg");
      background-size: cover;
     
    }
    

    img{
      
         border-radius: 4px solid black;
         opacity: 0.7;
        }
  
